/* Set the variables for site colors fonts and borders */
:root{
    /* colors */
    --headerBackgroundImage: url("photos/hartford.jpeg");
    --headerBackgroundColor:rgba(43,90,117,1);
    --headerColor:white;
    --navBackgroundColor: rgba(0,172,21,1);
    --navColor:rgba(43,90,117,1);
    --navFontWeight:bolder;
    --navTextShadow: 1px 1px 1px white;
    --mainBackgroundColor: rgba(196,196,196,1);
    --articleBackgroundColor: whitesmoke;
    --articleColor:black;
    --titleBackgroundColor: rgba(230,179,83,.5);
    /* fonts */
    --headingsFont: ;
    /* borders */
    --headerBorder: 1px solid black;
    --standardBorder:1px solid black;
    --navBorder:1px solid black;
    
    
}

/* Style the elements */
body{
    background-color: var(--mainBackgroundColor);
}
header{
    background-image: var(--headerBackgroundImage);
    background-size: cover;
    background-position: center;
    background-color: var(--headerBackgroundColor);
    box-sizing: border-box;
    border:var(--headerBorder);
    color:var(--headerColor);
    position: relative;
}
header h1{
    background-color: var(--titleBackgroundColor);
    border-radius: .5rem;
    box-sizing: border-box;
    text-align: center;
    color:var(--navColor);
    text-shadow: 1px 1px 1px white;
    position: absolute;
    width:50%;
    top:40%;
    left: 25%;
}
ul{
    background-color: var(--navBackgroundColor);
    border: var(--navBorder);
    box-sizing: border-box;
    color:var(--navColor);
    font-weight: var(--navFontWeight);
    list-style-type: none;
    overflow: auto;
    text-shadow:var(--navTextShadow);
}
ul{
    box-sizing: border-box;
    list-style-type: none;
}
li{
    box-sizing: border-box;
    font-weight: var(--navFontWeight);   
}
a{
    color: inherit;
    text-decoration: none;
}
article{
    background-color: whitesmoke;
    border:1px solid black;
    padding:1rem;
    overflow: scroll;
}
h2{
    text-align: center;
}
p{
    text-align: justify;
}
footer{
    background-color: var(--navBackgroundColor);
}
footer a{
    color:var(--navColor);
    font-weight: var(--navFontWeight);
    text-decoration: none;
    text-shadow: var(--navTextShadow);
    padding:1rem;
}